body {
    margin: 10px;
    background-image: url("./img/fitstImage.jpg");
    background-size: cover;     
  }
  textarea {
    resize: none;
    
  }
  .firstNote {
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    order: 0;
  }
  .firstNote .noteDesc{
    margin-top: 10px;
  }
  .firstNote .noteTitle{
    height: 30px;
  }
  .firstNote footer{
    padding-top: 10px;
    text-align: right;
  }
  .note {
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    order: 2;
  }
  .noteTitle{
    text-align: center;
  }
  .noteDesc{
    height: 150px;
  
  }
  .noteTitle, .noteDesc{
    width: 100%;
    background-color: #444;
    color: #fff;
  }
  .noteFooter button, .noteFooter input{
    float: right;
  }
  #wrapper {
  
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fill, 400px);
    grid-auto-flow: row;
    grid-gap: 10px;
    justify-content: center;
  }
  .holder{
    display: inline-block;
  }
  .color{
    display: inline-block;
    width: 15px;
    height: 15px;
  }
  .red{
    background: red;
  }
  .black{
    background: hsl(0, 1%, 18%);
  }
  .yellow{
    background: #dbdb58;
  }
  .blue{
    background: #225fd9;
  }
  .green{
    background: rgb(42, 135, 50);
  }
 /* .starter{
     background-image: url("./img/fitstImage.jpg");
     background-size: cover;        
 } */